@page "/component"
@inject IComponentService componentService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer
<PageTitle>All Components</PageTitle>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Components List</h2>
        </div>
        <div class="col-6 text-end">
            <a href="/component/create" class="btn btn-primary">
                <i class="fas fa-plus"></i> Create New Component by Administrator
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%; font-size: smaller">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Comment</th>
                    <th>Pos</th>
                    <th>Type</th>
                    <th>Cell Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width=30%>@obj.Name</td>
                        <td width=10%>@obj.Price</td>
                        <td width=10%>@obj.Comment</td>
                        <td width=10%>@obj.Pos</td>
                        <td width=10%>@obj.Type</td>
                        <td>
                            <div class="w075 btn-group" role="group">
                                <a href="/component/detail/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-database"></i>
                                </a>
                                <a href="/component/update/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button @onclick=@(()=>Delete(obj.Id)) class="btn btn-danger mx-2">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private List<Component> Model;
    protected override async Task OnInitializedAsync()
    {
        Model = await componentService.Get();
    }
    private async Task Delete(int deviceId)
    {
        var component = Model.First(q => q.Id == deviceId);
        var conform = await js.InvokeAsync<bool>("confirm", $"Are You Sure Want to Delete {component.Name}?");
        if (conform)
        {
            var responses = await componentService.Delete(deviceId);
            if (responses.Success)
            {
                await OnInitializedAsync();
            }
        }
    }
}
