@page "/template/detail/{id:int}"
@inject ITemplateService templateService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer

<h3>Template Detail</h3>
<EditForm Model="Template">
    <fieldset disabled="true">
        <div class="row">
            <div class="col-8">

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Name"><b>Field Name</b></label>
                    </div>
                    <div class="col-3">
                        <label for="Name"><b>On Hold</b></label>
                    </div>
                    <div class="col-3">
                        <label for="Name"><b>On Parts</b></label>
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Name">Name</label>
                    </div>
                    <div class="col-3">
                        <InputText @bind-Value="Template.Name" class="form-control" />
                        <ValidationMessage For="@(() => Template.Name)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label>% Lost</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.PersntLost" class="form-control" />
                        <ValidationMessage For="@(() => Template.PersntLost)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="PersntResult">% Result</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.PersntResult" class="form-control" />
                        <ValidationMessage For="@(() => Template.PersntResult)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Shipping_price">Shipping price</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Shipping_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Shipping_price)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Shipping_price2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Shipping_price2)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Tester_time">Tester time</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Tester_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Tester_time)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Tester_time2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Tester_time2)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Tester_time_price">Tester time price</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Tester_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Tester_time_price)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Tester_time_price2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Tester_time_price2)" />
                    </div>
                </div>

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Receiver _time">Receiver  time</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Receiver_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Receiver_time)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Receiver_time2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Receiver_time2)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Receiver_time_price">Receiver time price</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Receiver_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Receiver_time_price)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Receiver_time_price2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Receiver_time_price2)" />
                    </div>
                </div>

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Lister_time">Lister time</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Lister_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Lister_time)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Lister_time2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Lister_time2)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Lister_time_price">Lister time price</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Lister_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Lister_time_price)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Lister_time_price2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Lister_time_price2)" />
                    </div>
                </div>

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Fullfilment_time">Fullfilment time</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Fullfilment_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Fullfilment_time)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Fullfilment_time2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Fullfilment_time2)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Fullfilment_time_price">Fullfilment time price</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Fullfilment_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Fullfilment_time_price)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Fullfilment_time_price2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Fullfilment_time_price2)" />
                    </div>
                </div>

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Market_fees">Market_fees</label>
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Market_fees" class="form-control" />
                        <ValidationMessage For="@(() => Template.Market_fees)" />
                    </div>
                    <div class="col-3">
                        <InputNumber @bind-Value="Template.Market_fees2" class="form-control" />
                        <ValidationMessage For="@(() => Template.Market_fees2)" />
                    </div>
                </div>

                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Dissassembly_time">Dissassembly time</label>
                    </div>
                    <div class="col-3 offset-3">
                        <InputNumber @bind-Value="Template.Dissassembly_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Dissassembly_time)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Disasembler_time_price">Disasembler time price</label>
                    </div>
                    <div class="col-3 offset-3">
                        <InputNumber @bind-Value="Template.Disasembler_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Disasembler_time_price)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Analyzer_time">Analyzer time</label>
                    </div>
                    <div class="col-3 offset-3">
                        <InputNumber @bind-Value="Template.Analyzer_time" class="form-control" />
                        <ValidationMessage For="@(() => Template.Analyzer_time)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Analyzer_time_price">Analyzer time price</label>
                    </div>
                    <div class="col-3  offset-3">
                        <InputNumber @bind-Value="Template.Analyzer_time_price" class="form-control" />
                        <ValidationMessage For="@(() => Template.Analyzer_time_price)" />
                    </div>
                </div>
                <div class="form-group row p-1">
                    <div class="col-6">
                        <label for="Comment">Comment</label>
                    </div>
                    <div class="col-6">
                        <InputTextArea @bind-Value="Template.Comment" class="form-control"></InputTextArea>
                        <ValidationMessage For="@(() => Template.Comment)" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <button @onclick="GoToEdit" class="btn btn-warning">
        <span class="oi oi-pencil"></span>
        Edit Template
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Template Template = new Template();
    protected async override Task OnInitializedAsync()
    {
        var responses = await templateService.Get(id);
        if (responses.Success)
        {
            Template = responses.Data;
        }
    }
    private void GoToEdit()
    {
        navManager.NavigateTo($"/template/update/{Template.Id}");
    }
    private void BackToList()
    {
        navManager.NavigateTo("/template/");
    }

}
