@page "/template"
@inject ITemplateService templateService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer
<PageTitle>All Templates</PageTitle>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Templates List</h2>
        </div>
        <div class="col-6 text-end">
            <a href="/template/create" class="btn btn-primary">
                <i class="fas fa-plus"></i> Create New Template by Administrator
            </a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%; font-size: smaller">
            <thead>
                <tr>
                    <th rowspan="2">Template Name</th>
                    <th rowspan="2">% Lost</th>
                    <th rowspan="2">% Result</th>
                    <th rowspan="2">Ship. price</th>
                    <th colspan="2">Tester </th>
                    <th colspan="2">Receiver</th>
                    <th colspan="2">Lister</th>
                    <th colspan="2">Fullfilment</th>
                    <th rowspan="2">Market fees</th>
                    <th colspan="2">Dissassembly</th>
                    <th colspan="2">Analyzer</th>
                    <th rowspan="2">By On Econ</th>
                    <th rowspan="2">Actions</th>
                </tr>
                <tr>                    
                    <th>Time</th>
                    <th>Time Price</th>
                    <th>Time</th>
                    <th>Time Price</th>
                    <th>Time</th>
                    <th>Time Price</th>
                    <th>Time</th>
                    <th>Time Price</th>
                    <th>Time</th>
                    <th>Time Price</th>
                    <th>Time</th>
                    <th>Time Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width=20% align="right">@obj.Name <span style="font-size:x-small">OnHold<br />OnPart</span></td>
                        <td width=7%>@obj.PersntLost</td>
                        <td width=7%>@obj.PersntResult</td>
                        <td width=7%>@obj.Shipping_price<br />@obj.Shipping_price</td>
                        <td width=7%>@obj.Tester_time<br />@obj.Tester_time2</td>
                        <td width=7%>@obj.Tester_time_price<br />@obj.Tester_time_price2</td>
                        <td width=7%>@obj.Receiver_time<br />@obj.Receiver_time2</td>
                        <td width=7%>@obj.Receiver_time_price<br />@obj.Receiver_time_price2</td>
                        <td width=7%>@obj.Lister_time<br />@obj.Lister_time2</td>
                        <td width=7%>@obj.Lister_time_price<br />@obj.Lister_time_price2</td>
                        <td width=7%>@obj.Fullfilment_time<br />@obj.Fullfilment_time2</td>
                        <td width=7%>@obj.Fullfilment_time_price<br />@obj.Fullfilment_time_price2</td>
                        <td width=7%>@obj.Market_fees<br />@obj.Market_fees2</td>
                        <td width=7%><br />@obj.Dissassembly_time</td>
                        <td width=7%><br />@obj.Disasembler_time_price</td>
                        <td width=7%><br />@obj.Analyzer_time</td>
                        <td width=7%><br />@obj.Analyzer_time_price</td>
                        <td width=7%><br />@obj.ByOnEconomics</td>
                        <td>
                            <div class="w075 btn-group" role="group">
                                <a href="/template/detail/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-database"></i>
                                </a>
                                <a href="/template/update/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button @onclick=@(()=>Delete(obj.Id)) class="btn btn-danger mx-2">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private List<Template> Model;
    protected override async Task OnInitializedAsync()
    {
        Model = await templateService.Get();
    }
    private async Task Delete(int deviceId)
    {
        var template = Model.First(q => q.Id == deviceId);
        var conform = await js.InvokeAsync<bool>("confirm", $"Are You Sure Want to Delete {template.Name}?");
        if (conform)
        {
            var responses = await templateService.Delete(deviceId);
            if (responses.Success)
            {
                await OnInitializedAsync();
            }
        }
    }
}
