@page "/analyzer/"
@inject IDeviceService deviceService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer

<div class="container p-2">
    <div class="row pt-4">
        <div class="col-12">
            <h2>All Device List</h2>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr style="text-align: center">
                    <th>Device Name</th>
                    <th>Qty laptops</th>
                    <th>Template Name</th>
                    <th>Tester Time</th>
                    <th>Serial Number</th>
                    <th>Model</th>
                    <th>Model Name</th>
                    <th>Comments T</th>
                    <th>Other Comments T</th>
                    <th>Creation Date by T</th>
                    <th>Updated Date by T</th>
                    <th>Edit</th>
                    <th>Stage action</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width=7%>
                            @obj.Name
                            <div style="font-size:small; text-align:center">@obj.Id:@obj.Stage</div>
                        </td>
                        <td width=7%>@obj.TotalCount</td>
                        <td width=7%>@obj.Template</td>
                        <td width=7%>@obj.TesterTime</td>
                        <td width=7%>@obj.SN</td>
                        <td width=7%>@obj.Model</td>
                        <td width=7%>@obj.ModelName</td>
                        <td width=7%>@obj.Comments</td>
                        <td width=7%>@obj.OtherComments</td>
                        <td width=7%>@obj.CreateT</td>
                        <td width=7%>@obj.UpdateT</td>
                        <td>
                            <div class="w075 btn-group" role="group">
                                <a href="/analyzer/detailall/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-database"></i>
                                </a>
                                <a href="/analyzer/update/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="w075 btn-group" role="group">
                                @if (obj.Stage == null)
                                {
                                    <button @onclick=@(()=>Parts(obj.Id)) class="btn btn-info mx-2">
                                        <i class="fa-solid fa-user-tie"></i> Parts
                                    </button>
                                }
                                @*@if (obj.Stage == null)
        {
            <a asp-controller="SInit" asp-action="Create" asp-route-Id="@obj.Id" class="btn btn-success disabled">
                <i class="fa-solid fa-user-tie"></i> Tester
            </a>
        }*@
                                @if (obj.Stage == Stages.Init)
                                {
                                    <a asp-controller="SInit" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-success mx-1 disabled">
                                        <i class="fa-solid fa-user-tie"></i>Tester
                                    </a>
                                }
                                @if (obj.Stage == Stages.Tester)
                                {
                                    <a asp-controller="Analyzer" asp-action="Create" asp-route-Id="@obj.Id" class="btn btn-info mx-1">
                                        <i class="fa-solid fa-user-tie"></i> Parts
                                    </a>
                                }
                                @if (obj.Stage == Stages.Analyser)
                                {
                                    <button @onclick=@(()=>Calculate(obj.Id)) class="btn btn-warning mx-2">
                                        <i class="fa-solid fa-user-tie"></i> Calculate
                                    </button>
                                }
                                @if (obj.Stage == Stages.Calculate)
                                {
                                    <a asp-controller="SAnalуzer" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-info mx-1 disabled">
                                        <i class="fa-solid fa-user-tie"></i> Analyser
                                    </a>
                                }
                                @if (obj.Stage == Stages.Result)
                                {
                                    <a asp-controller="SAnalуzer" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-success mx-2">
                                        <i class="fa-solid fa-user-tie"></i> Edit Result
                                    </a>
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No devices</p>
    }
</div>

@code {
    private List<Device> Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await deviceService.Get();
    }
    private async Task Parts(int deviceId)
    {
        navManager.NavigateTo($"/analyzer/parts/{deviceId}");
    }
    private async Task Calculate(int deviceId)
    {
        navManager.NavigateTo($"/analyzer/calculate/{deviceId}");
    }
}
