@page "/analyzer/"
@inject IDeviceService deviceService
@inject IJSRuntime js
@inject NavigationManager navManager
@rendermode InteractiveServer

<PageTitle>Analyzer Devices List</PageTitle>
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-12">
            <h2>Analyzer Device List</h2>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr style="text-align: center">
                    <th rowspan="2">Device Name</th>
                    <th rowspan="2">Qty</th>
                    <th rowspan="2">Template</th>
                    <th rowspan="2">Model Name</th>
                    <th colspan="7">Tester</th>
                    <th rowspan="2">Action</th>
                </tr>
                    <th>Time</th>
                    <th>S/N</th>
                    <th>Model</th>
                    <th>Comments</th>
                    <th>Other Comments</th>
                    <th>Creation Date</th>
                    <th>Updated Date</th>
                <tr>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width=7%>
                            @obj.Name
                            <div style="font-size:small; text-align:center">@obj.Id:@obj.Stage</div>
                        </td>
                        <td width=7%>@obj.TotalCount</td>
                        <td width=7%>@obj.Template</td>
                        <td width=7%>@obj.ModelName</td>
                        <td width=7%>@obj.TesterTime</td>
                        <td width=7%>@obj.SN</td>
                        <td width=7%>@obj.Model</td>
                        <td width=7%>@obj.Comments</td>
                        <td width=7%>@obj.OtherComments</td>
                        <td width=7%>@obj.CreateT</td>
                        <td width=7%>@obj.UpdateT</td>
                        <td>
                            <div class="w075 btn-group" role="group">
                                <a href="/analyzer/detailparts/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-database"></i>
                                </a>
                                <a href="/analyzer/addacc/@obj.Id" class="btn btn-success mx-2">
                                    <i class="fas fa-list"></i>
                                </a>
                                <a href="/analyzer/addparts/@obj.Id" class="btn btn-info mx-2">
                                    <i class="fas fa-list"></i>
                                </a>
                                <a href="/analyzer/update/@obj.Id" class="btn btn-warning mx-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                @if (obj.Stage == null)
                                {
                                    <button @onclick=@(()=>Parts(obj.Id)) class="btn btn-info mx-2">
                                        <i class="fas fa-list"></i><span style="font-size:xx-small;padding:0;margin:0">Parts</span>
                                    </button>
                                }
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No devices</p>
    }
</div>

@code {
    private List<Device> Model;

    protected override async Task OnInitializedAsync()
    {
        Model = await deviceService.Get();
    }
    private async Task Parts(int deviceId)
    {
        navManager.NavigateTo($"/analyzer/addparts/{deviceId}");
    }
    private async Task Calculate(int deviceId)
    {
        navManager.NavigateTo($"/analyzer/calculate/{deviceId}");
    }
}
